.user-location__wrapper {
  padding: 20px 40px;
  border-bottom: 1px solid #f1f1f1;
}

.user-location__heading {
  color: #909090;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: {
    top: 0;
    bottom: 15px;
  }
}

.user-location__notify {
  color: #1a1b1f;
  font-size: 18px;
  line-height: 24px;
  margin: {
    top: 0;
    bottom: 0;
  };
}
