.btn {
  border-radius: 4px;
  box-shadow: none;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 40px;
  &:focus {
    outline: none;
  }
  &.disabled {
    pointer-events: none;
    background-color: #909090;
  }
  &--confirm {
    background-color: #4c71fe;
    &:hover {
      background-color: lighten(#4c71fe, 5%);
    }
    &:active {
      background-color: darken(#4c71fe, 5%);
    }
    color: #ffffff;
  }
}
