.available-task__wrapper {
  animation: fadeIn .4s;
}

.available-task__heading {
  margin-bottom: 15px;
}

.available-task__list {
  padding-left: 0;
  font-size: 0;
}

.available-task__item {
  cursor: pointer;
  list-style-type: none;
  color: #1a1b1f;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 57px;
  border: 1px solid transparent;
  transition: border .3s ease;
  &:hover {
    border: 1px solid #4c71fe;
  }
  &--active {
    border: 1px solid #4c71fe;
  }
}
