.task-panel__wrapper {
  position: absolute;
  right: -500px;
  top: 0;
  height: calc(100vh - 80px);
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: all .5s ease-in-out;
  overflow: auto;
  &--active {
    right: 0;
  }
}

@media (max-width: 1000px) {
  .task-panel__wrapper {
    max-width: 400px;
    z-index: 10;
  }
}

@media (max-width: 767px) {
  .task-panel__wrapper {
    height: calc(100vh - 35px);
    padding-bottom: 60px;
  }
}
