.profile {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url('../../assets/images/profile-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
