.history-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.history-item {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: calc(33.333333% - 7px);
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.history-item__date {
  color: #909090;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

.history-item__description {
  color: #1a1b1f;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
}

.history-item__delete-btn,
.history-item__edit-btn {
  border-radius: 4px;
  background-color: #4c71fe;
  text-transform: uppercase;
  height: auto;
  min-height: initial;
  transition: all .3s ease;
  line-height: 27px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  font-size: 14px;
  &:hover {
    background-color: lighten(#4c71fe, 5%);
  }
  &:active {
    background-color: darken(#4c71fe, 15%);
  }
}

.history-item__delete-btn {
  margin-left: 5px;
  background-color: transparent;
  color: #4c71fe;
  &:active,
  &:hover {
    color: white;
  }
  &:hover {
    background-color: #4c71fe;
  }
}


@media (max-width: 767px) {
  .history-list {
    margin: 0;
  }
  .history-item {
    padding: 15px;
    max-width: initial;
    margin-right: 0;
    width: 100%;
  }
  .history-item__date {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
  }
  .history-item__description {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }
  .history-item__edit-btn,
  .history-item__delete-btn {
    font-size: 12px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

