.main-header__wrapper {
  display: block;
  height: 100%;
  min-height: 80px;
  width: 100%;
}
.main-header__inner {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 80px;
}
.logo__wrapper {
  margin-right: 80px;
}
.logo__link {
  transition: opacity .3s ease;
  &:hover {
    opacity: .5;
  }
}
.nav__link {
  color: #1a1b1f;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position: relative;
  line-height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  transition: color .3s ease;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background-color: #1a1b1f;
    width: 0;
    transition: background-color .3s ease;
  }
  &.active {
    &:before {
      width: 100%;
    }
    &:hover {
      &:before {
        background-color: rgba(231, 89, 113, .7);
      }
    }
  }
  &--sided {
    position: absolute;
    right: 40px;
    top: 0;
    margin: 0;
  }
  &:hover {
    color: rgba(231, 89, 113, .7);
  }
}
.nav__link.active:before {

}
