.task-details__heading {
  margin: {
    bottom: 7px;
  }
}

.task-details__notify {
  color: #1a1b1f;
  font-size: 24px;
  line-height: 28px;
  margin: {
    top: 0;
    bottom: 15px;
  };
  &--marked {
    font-weight: 700;
  }
}

.task-details__address {
  color: #1a1b1f;
  font-size: 16px;
  line-height: 22px;
  margin: {
    top: 0;
    bottom: 25px;
  };
}

.task-details__input-wrap {
  display: none;
}
