.confirm-modal {
  &.active {
    .confirm-modal__overlay {
      opacity: 0;
    }
  }
}

.confirm-modal__overlay {
  animation: fade .5s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease;
  background-color: rgba(0, 0, 0, .8);
}

.confirm-modal__inner-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  transform: translateY(-50%);
  animation: modalAnimate .6s;
}

.confirm-modal__heading {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.confirm-modal__btn-wrapper {
  text-align: center;
}

.confirm-modal__btn {
  min-width: 110px;
  line-height: 40px;
  &--yes {
    background-color: #4c71fe;
    color: white;
    &:hover {
      background-color: lighten(#4c71fe, 5%);
    }
    &:active {
      background-color: darken(#4c71fe, 10%);
    }
  }
  &--no {
    color: #4c71fe;
    margin-right: 10px;
    &:hover {
      background-color: #4c71fe;
      color: white;
    }
    &:active {
      background-color: darken(#4c71fe, 10%);
      color: white;
    }
  }
}
