.task-description__input {
  width: 100%;
  color: #1a1b1f;
  font-size: 18px;
  line-height: 24px;
  box-shadow: none;
  transition: all .3s ease;
  z-index: 10;
  border: {
    top: 0;
    right: 0;
    left: 0;
    bottom: 3px solid #f1f1f1;
  }
  &:before {

    border: 3px solid #4c71fe;
  }
  &:focus {
    border-color: #4c71fe;
    outline: none;
  }
  -webkit-appearance: none;
  appearance: none;
}

.task-description__input-wrap {
  position: relative;
  &--active {
    .task-description__label {
      font-size: 0;
      top: -5;
      visibility: hidden;
      margin: 0;
      padding: 0;
    }
  }
}

.task-description__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  transition: all .3s ease;
  z-index: 1;
}
