.task-description__input {
  width: 100%;
  color: #1a1b1f;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #909090;
  -webkit-appearance: none;
  appearance: none;
}
