.tasks__wrapper {
  position: absolute;
  top: 0;
  left: 40px;
  height: calc(100vh - 80px);
  width: 100%;
  max-width: 330px;
  animation: fade 1s;
}
.content-wrapper {
  position: relative;
  overflow-x: hidden;
}
