.add-task__btn {
  margin-top: 40px;
  max-width: 330px;
  width: 100%;
  display: block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 40px;
  transition: box-shadow .3s ease;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  }
  line-height: 50px;
  color: #4c71fe;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

@media (max-width: 767px) {
  .add-task__btn {
    top: 5px;
    left: 15px;
    margin-top: 0;
    max-width: calc(100% - 30px)
  }
}
