.add-task__btn {
  margin-top: 10px;
  max-width: 330px;
  width: 100%;
  display: block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 40px;
  transition: box-shadow .3s ease;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  }
  line-height: 50px;
  color: #4c71fe;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.add-task__icon {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  max-width: 27px;
  margin-bottom: 4px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .add-task__btn {
    bottom: 15px;
    padding: 0;
    display: block;
    top: initial;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    height: auto;
    width: calc(100% - 30px);
    background-color: #4c71fe;
    max-height: initial;
    color: white;
    border: 0;
    line-height: 45px;
    font-size: 12px;
    box-shadow: none;
    z-index: 100;
    &:hover {
      box-shadow: none;
    }
  }
  .add-task__icon {
    z-index: 1000;
    max-width: 20px;
  }
  .add-task__btn-wrap {
    background-color: white;
    width: 100%;
  }
}
