.map {
  animation: fadeIn .7s;
  &.hidden {
    display: none;
  }
}

#map {
  height: calc(100vh - 80px);
  width: 100%;
  transition: all .5s ease;
  //z-index: 1;
}

.map__wrapper--faded {
  width: calc(100% - 500px);
}

@media (max-width: 767px) {
  #map {
    height: calc(100vh - 35px);
  }
}

