.map {
  animation: fade .7s;
  transition: opacity .5s ease;
}

#map {
  height: calc(100vh - 80px);
  width: 100%;
  transition: all .5s ease;
  //z-index: 1;
}

.map__wrapper--faded {
  width: calc(100% - 500px);
}

@media (max-width: 767px) {
  .map {
    &.hidden {
      opacity: 0;
    }
  }
  #map {
    height: calc(100vh - 35px);
  }
}

