.service__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

.service__item {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  flex-basis: 20%;
  cursor: pointer;
  transition: all .3s ease;
  &--active {
    .service__img-wrapper {
      border: 1px solid #4c71fe;
    }
  }
}

.service__img-wrapper {
  width: 75px;
  height: 75px;
  display: flex;
  margin: 0 auto 5px auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  transition: border .3s ease;
  &:hover {
    border: 1px solid #4c71fe;
  }
}

.service__img {
}

.service__notify {
  color: #1a1b1f;
  font-size: 14px;
  margin: 0;
}
