.task-list {
  position: absolute;
  top: 70px;
  left: 40px;
  max-width: 330px;
  width: 100%;
  display: block;
  padding-left: 0;
  overflow: auto;
  margin: 0;
  max-height: calc(100% - 70px);
}

.task-item {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
  list-style-type: none;
  transition: box-shadow .3s ease;
  will-change: box-shadow;
  margin-top: 0;
  margin-bottom: 10px;
  animation: fade .5s;
  &.closed {
    animation: fade .5s reverse;
  }
}

.task-item__date {
  color: #909090;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

.task-item__description {
  color: #1a1b1f;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
}

.task-item__location {
  color: #1a1b1f;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.task-item__delete-btn,
.task-item__edit-btn {
  border-radius: 4px;
  background-color: #4c71fe;
  text-transform: uppercase;
  height: auto;
  min-height: initial;
  transition: all .3s ease;
  line-height: 27px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  font-size: 14px;
  &:hover {
    background-color: lighten(#4c71fe, 5%);
  }
  &:active {
    background-color: darken(#4c71fe, 15%);
  }
}

.task-item__delete-btn {
  margin-left: 5px;
  background-color: transparent;
  color: #4c71fe;
  &:active,
  &:hover {
    color: white;
  }
  &:hover {
    background-color: #4c71fe;
  }
}

@media (max-width: 767px) {
  .task-list {
    top: 10px;
    left: 15px;
    max-width: calc(100% - 30px);
    max-height: calc(100vh - 115px);
  }
  .task-item {
    padding: 15px;
  }
  .task-item__date {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
  }
  .task-item__description {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }
  .task-item__edit-btn,
  .task-item__delete-btn {
    font-size: 12px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
