.task-list {
  position: absolute;
  top: 100px;
  left: 40px;
  max-width: 330px;
  width: 100%;
  display: block;
  padding-left: 0;
  margin: 0;
  max-height: calc(100% - 100px);
}

.task-item {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
  list-style-type: none;
  transition: box-shadow .3s ease;
  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75)
  }
}

.task-item__date {
  color: #909090;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

.task-item__description {
  color: #1a1b1f;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
}

.task-item__delete-btn,
.task-item__edit-btn {
  border-radius: 4px;
  background-color: #4c71fe;
  text-transform: uppercase;
  height: auto;
  min-height: initial;
  transition: all .3s ease;
  &:hover {
    background-color: lighten(#4c71fe, 5%);
  }
  &:active {
    background-color: darken(#4c71fe, 15%);
  }
  span {
    color: white;
    line-height: 27px;
    font-size: 14px;
  }
}

.task-item__delete-btn {
  margin-left: 5px;
  background-color: transparent;
  span {
    color: #4c71fe;
  }
  &:active,
  &:hover {
    span {
      color: white;
    }
  }
  &:hover {
    background-color: #4c71fe;
  }
}


